@import "tachyons";

/*
 *
 * PAGE HEADER STYLES
 *
 */
.App-logo {
  height: 36px;
}

.App-header {
  min-height: 400px;
  color: #ffffff;
  background: #39414d;
}

/*
 *
 * Colors (update these lol)
 *
 */
.bg-fp-blue {
  background-color: #326089;
}
.bg-fp-yellow {
  background-color: #f5954d;
}
.bg-fp-red {
  background-color: #fa5959;
}
.bg-fp-purple {
  background-color: #7700a6;
}
