/*
 *
 * PAGE HEADER STYLES
 *
 */
.App-logo {
  height: 36px;
}

.App-header {
  min-height: 400px;
  color: #ffffff;
  background: #39414d;
}

/*
 *
 * BASIC STYLES
 *
 */

.container {
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-size: xx-large;
}
